
PAYMENTS_API_DB_HOST=localhost
PAYMENTS_API_DB_PORT=5432
PAYMENTS_API_DB_NAME=payments_api
PAYMENTS_API_DB_USER=payments_api
PAYMENTS_API_DB_PASSWORD=change-me
HYPERSWITCH_BASE_URL=http://localhost:8081
STELLAR_SEP_BASE_URL=http://localhost:8082
ANCHOR_REF_BASE_URL=http://localhost:8083
FX_API_BASE_URL=https://open.er-api.com/v6/latest
QUOTE_TTL_MINUTES=15
REQUEST_TIMEOUT_SECONDS=8
